{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/about.css" %}" />
{% endblock css %}
{% block main %}

<main class="content">

            <h1 class="reformed-by-truth">About Us</h1>
            <div class="about-info">
                <p><b>Reformed by TRUTH</b> is a Christian educational platform committed to serving a global audience, with a particular focus on the Urdu and Hindi-speaking world. Our mission is to glorify God and advance His kingdom on earth by preaching the Gospel of Jesus Christ, His death, resurrection, and Second Coming— teaching the Bible as it is written. By all this to encourage and equip believers to live as God's people, faithfully following His commands, by providing accessible and sound biblical reformed teaching.</p>
            </div>
            <div class="About-Our-Name-content">
                <h2 class="About-Our-Name">About Our Name</h2>
                <p>We believe that the days of living in ignorance are over. God has given His grace to repent and be Reformed by TRUTH of His Word. As Scripture declares, “You will know the truth, and the truth will set you free.” It is this truth, the Christ Jesus who not just set us free from sin but also from all false beliefs and doctrines. We affirm that Christ alone is the Truth and the only way to God. We capitalize TRUTH to emphasize its importance, as it also reflects the core of our Protestant Christian Faith, grounded in these essential principles which stands as:</p>
                <div class="T"><u>T: Total Sufficiency of Scripture (Sola Scriptura)</u></div>
                <b>● Meaning:</b>
                <p>The Bible alone is the ultimate authority in all matters of faith and practice, providing complete and sufficient guidance for believers.</p>
            
                <b>● Truth Connection</b>
                <p>T emphasizes that truth is found fully and sufficiently in Scripture, the God-breathed Word</p>
                <div class="R"><u>R: Redemption by Grace Alone (Sola Gratia)</u></div>
                <b>● Meaning:</b> 
                <p>Salvation is a free gift from God’s grace, not something humans can earn through their own works.</p>
            
                <b>● Truth Connection:</b>
                <p>R reminds us that true freedom and redemption come not from human effort, but solely by God’s grace.</p>
            
                <div class="U"><u>U: Union with God by Faith Alone (Sola Fide)</u></div>
                <b>● Meaning:</b><p>We are justified before God solely through faith in Jesus Christ, not by our works.</p>
                <b>● Truth Connection:</b> 
                <p>U represents the unshakeable truth that we are united to God by faith alone in Christ, emphasizing trust and reliance on His finished work.</p>
            
                <div class="Tt"><u>T: Transformation through Christ Alone (Solus Christus)</u></div>
            
                <b>● Meaning:</b>
                <p>Jesus Christ is the only Mediator between God and man, and He is the only way to eternal life.</p>
                <b>● Truth Connection:</b>
                <p>T highlights that true transformation and salvation are through Christ alone, reinforcing the centrality of Jesus in the truth of the gospel.</p>
            
                <div class="H"><u>H: Honor and Glory to God Alone (Soli Deo Gloria)</u></div>
            
                <b>● Meaning:</b>
                <p>All of life and salvation are ultimately for God’s glory, and we exist to praise and worship Him.</p>
            
                <b>● Truth Connection:</b>
                <p>H declares that all truth is rooted in glorifying God alone, as He is the ultimate source and end of all things.</p>
            </div>
            
            <div class="About-Our-Slogan-content">
                <div class="Covenant-God-Covenant-People">
                    <h2 class="about-slogan">About Our Slogan</h2>
                    <p>We believe that the God of the Bible is a covenantal God, whose steadfast love and faithfulness endure forever toward those who fear Him and to their children.</p>
                    <p>He commands His people to worship Him as revealed in the sacred Scripture, guiding them to live their whole lives as His covenant people in every aspect of their lives before Him and enjoy Him.</p>
                    <p><b>Scripture Foundation:</b><br>“Hear, O Israel: The Lord our God, the Lord is one! You shall love the Lord your God with all your heart, with all your soul, and with all your strength...”<br><i>- Deuteronomy 6:4–7 (NKJV)</i></p>
                </div>
            </div>
            
            <div class="About-Our-Logo-content">
                <div class="content-of-logo">
                    <h2 class="About-Our-Logo">About Our Logo</h2>
                    <p>The logo of ‘Reformed by TRUTH’ symbolizes the transformative power of Christ’s Gospel in the world. The colorful stained-glass design reflects the diversity of God’s grace, showing that for His glory and Kingdom, He chooses people from all nations, tribes, races, and languages.</p>
                    <p>The central Greek symbol for Jesus Christ highlights Christ as the promised Son of God and the unchanging core of our faith, reforming our lives with His truth.</p>
                </div>
            </div>
            

<section class="leadership"><div class="Leadership-section">
    <div class="container-leadership">
    <h1>LeaderShip</h1>
    
    <div class="leader-profile">
        <img src="{% static 'images/shahzad.png' %}" alt="Rev. Shahzad Ashiq" class="leader-image">
        {% comment %} <img src="rev.shahzad.png" alt="Rev. Shahzad Ashiq" class="leader-image"> {% endcomment %}
        
        <h2>Rev. Shahzad Ashiq</h2>
        
        <p>Rev. Shahzad Ashiq is a faithful servant of Christ who has been serving the local church as an ordained Pastor in Shahdara, Lahore, Pakistan, for over two decades.</p>
        
        <p>Despite ongoing health challenges, his commitment to the gospel and his community remains steadfast. With 35 years of experience in clinical psychology at Mayo Hospital Lahore, he provides pastoral counseling and medical psychological support to those in need.</p>
        
        <p>Rev. Shahzad and his wife, Martha, are blessed with five daughters, three sons, two grandsons, and one granddaughter.</p>
    </div>
    
    
    
    <div class="leader-profile">
        <img src="{% static 'images/Suleman_Shyzad.png' %}" alt="Suleman Shahzad" class="leader-image">
        {% comment %} <img src="Suleman Shyzad.png" alt="Suleman Shahzad" class="leader-image"> {% endcomment %}
        
        <h2>Suleman Shahzad</h2>
        
        <p>Suleman Shahzad is a Bible student and the founder of the platform Reformed by TRUTH. He is currently pursuing a Master of Divinity at Reformation International Seminary in Florida, USA.</p>
        
        <p>After moving to Europe in 2017, he completed a Master's in Business Management in France. Driven by a deep passion for the Gospel of Christ and inspired by the early Reformers and Puritans, Suleman is committed to making sound biblical teaching accessible, particularly in the Hindi/Urdu languages, where it is greatly needed.</p>
        
        <p>He believes that Christ's truth not only frees people from the bondage of sin but also from false doctrines. His mission is to glorify God by expanding His Kingdom and serving the Church of Christ, bringing biblical truth to underserved communities for God's glory.</p>
    </div>

    
</div>
</main>
{% endblock main %}
{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock js %}