{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/book.css' %}" />
{% endblock css %}

{% block main %}
<section class="book-section">
    <div class="book-container">
        <h1>Books</h1>
    </div>
</section>

<section class="books-section">
    <div class="books-container">
        {% for book in books %}
        <div class="book-card">
            <div class="image-wrap">
                <img src="{{ book.image.url }}" alt="{{ book.title }}">
                <a href="{{ book.pdf.url }}" target="_blank" class="read-btn">Read</a>
            </div>
            <div class="info">
                <h2 class="title">{{ book.title }}</h2>
                {% if book.author %}
                <p class="author">{{ book.author }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock main %}

{% block js %}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock js %}
