{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/courses.css' %}" />
{% endblock css %}

{% block main %}
<section class="courses-section">
  <div class="courses-container">
    <h1>COURSES</h1>

    <div class="card-grid">
      {% for course in courses %}
        <div class="course-card">
          <img src="{{ course.thumbnail.url }}" alt="{{ course.title }}" class="card-img">
          <p class="card-type">{{ course.course_type }}</p>
          <h2>{{ course.title }}</h2>
          <p class="card-description">{{ course.description }}</p>
          <a href="{% url 'courses_detail' course.slug %}" class="enroll-btn">WATCH</a>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
{% endblock main %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock js %}
