{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/creed_confession.css' %}" />
{% endblock css %}
{% block main %}

<section class="creed-section">
    <div class="creed-container">
        <h1>Creeds And Confessions</h1>
    </div>
</section>

<section class="creeds-section">
    <div class="creeds-container">
        {% for creed in creeds %}
        <div class="creed-card-alt">
            <div class="creed-image">
                <img src="{{ creed.image.url }}" alt="{{ creed.title }}">
            </div>
            <div class="creed-content">
                <h3>{{ creed.title }}</h3>
                <a href="{{ creed.pdf.url }}" target="_blank" class="view-link">View PDF</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock main %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock js %}
