{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/supportus.css" %}" />
{% endblock css %}
{% block main %}



    <section class="support-section">
        <div class="support-container">
            <h1>SUPPORT US</h1>
    
            <!-- Image Section Above By Prayers -->
            <div class="prayer-image">
                <img src="{% static 'images/support_us.jpg' %}" alt="Prayers Image">
            </div>
    
            <div class="support-method">
                <h2>By Prayers:</h2>
                <p>Please pray for us, that God may continue to grant us His loving mercy, strengthening our faith to remain faithful. As I am and as His Church, all for His glory. Pray that He would give us wisdom and strength to be even more fruitful in our works, and that He would provide all the resources we need to continue this work to edifying His Church for His kingdom and glory.</p>
            </div>
    
            <div class="support-method">
                <h2>By Collaboration:</h2>
                <p>If you believe that your unique skills in translation, writing, media design, or other relevant areas could significantly contribute to our fears, we warmly welcome you to join us in this endeavor for God's kingdom and glory.</p>
            </div>
    
            <div class="support-method">
                <h2>By Donation:</h2>
                <p>Before we are completely independent and and not supported by any abnormalities, church, or individual, it is no platform provided here necessary, preparing and maintaining corporate significant efforts and resources. Your contribution, no matter the facts, can offer vital encouragement and support, enabling us to continue our mission to expand God's kingdom. Pseudo His gospel, early His Church, and pseudo biblical resources to unprivileged communities, only for His glory.</p>
            </div>
        </div>
    </section>
{% endblock main %}
    


   
      

